body{
    align-items: center;
    width: 100%;
    justify-content: center;
}
.container-fluid{
    justify-content: center;
}
.main-card{
    position: absolute;
    width: 100%;
    left: 28%;
    top: 8%;
}
.mainCard{
    background-color: lightskyblue;
    width:50%;    
}
.underline {
    padding-bottom: 16px;
    border-bottom: grey 1px solid;
}
.button{
    position: relative;
    left:80%;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
@media screen and (max-width:780px) {
    .main-card{
        left:12%;
    }
    /* .container-fluid{
        left: 10%;
    } */
    
}

@media screen and (max-width:600px) {
    .main-card{
        left:12%;
        width:90%;
    }
    /* .container-fluid{
        left: 10%;
    } */
    
}